
.codegpt
.env
venv/
# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
*.env

# IDE and editor-specific
.vscode/
.idea/
*.swp

# Byte-compiled, binary, and log files
*.log
*.sqlite3
